<header>
  <nav class="navbar navbar-expand-lg navbar-light custom-navbar">

    <a  class="navbar-brand" routerLink='/main-page'>
      <i class="fa-solid fa-cloud" style="color: #f0f6ff;"></i>
      RAF CLOUD
    </a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink='/main-page' class="navbar-brand">Home</a>
          </li>
        </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link active" [routerLink]="'/error-messages'"  class="navbar-brand">Error messages</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link active" [routerLink]="'/search-machine'"class="navbar-brand">Schedule machine activity</a>
        </li>
      </ul>
        </div>
       <div class="ml-auto">
       <ul class="navbar-nav">
         <li class="nav-item active">
          <a class="nav-link active" [routerLink]="'/'" class="navbar-brand">Login</a>
         </li>
       </ul>
     </div>
    <div class="ml-auto">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a routerLink="/" (click)="logout()"   class="nav-link">
            Log Out
            <i class="fa-solid fa-arrow-right-from-bracket" style="color: #303236;"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
