<div class="container">
  <h2>All Machines</h2>


  <br>
  <form [formGroup]="searchMachineForm" (ngSubmit)="searchMachines()">
    <div class="form-group">
      <label for="name">Machine Name:</label>
      <input type="text" id="name" name="name" [formControlName]="'name'" placeholder="Enter machine name">
    </div>

    <div class="form-group">
      <label for="dateFrom">Date from: </label>
      <input type="date" id="dateFrom" name="dto" [formControlName]="'dateFrom'">
    </div>

    <div class="form-group">
      <label for="dateTo">Date to: </label>
      <input type="date" id="dateTo"name="dto" [formControlName]="'dateTo'">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!searchMachineForm.valid" >Search</button>
  </form>

  <div *ngIf="hiddenField" class="alert alert-danger">
    Please enter both From Date and To Date or leave both empty.
  </div>
  <br>
  <br>
  <div class="machine-list">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Activity</th>
        <th scope="col">Status</th>
        <th scope="col">Name</th>
        <th scope="col">Creation date:</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody *ngFor="let machine of machines; let i = index;" class="mb-2">
      <tr>
        <td>
          <div *ngIf="machine.active; then activeMachine else inActiveMachine"></div>
          <ng-template #activeMachine>Active</ng-template>
          <ng-template #inActiveMachine>Inactive</ng-template>
        </td>
        <td>{{ machine.status }}</td>
        <td>{{ machine.name }}</td>
        <td>{{ machine.creationDate | date: 'dd/MM/yyyy' }}</td>
        <td>
          <button type="button" class="btn btn-success" *ngIf="canStartMachine" (click)="startMachine(machine.machineId, machine.name)">Start</button>
          <button type="button" class="btn btn-success" *ngIf="canRestartMachine" (click)="restartMachine(machine.machineId, machine.name)">Restart</button>
          <button type="button" class="btn btn-success" *ngIf="canStopMachine" (click)="stopMachine(machine.machineId, machine.name)">Stop</button>
          <button type="button" class="btn btn-dark" [routerLink]="'/schedule/' + machine.machineId">Schedule activity</button>
        </td>
      </tbody>
    </table>

  </div>

</div>
