.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(245, 246, 246, 0.81);
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: large;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


button {
  padding: 10px 20px;
  background-color: #2779de;
  color: #f9fdff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-success {
  background-color: #a4a4a8;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}
.btn-dark {
  background-color: #53667a;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.btn-success:hover {
  background-color: #28a754;
  color: white;
}

.btn-dark:hover {
  background-color: #2b2b2b;
  color: white;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.alert {
  margin-top: 10px;
  padding: 10px;
  background-color: #f44336;
  color: #fff;
  border-radius: 5px;
  display: none;
}


.machine-list {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
}

.table thead {
  background-color: #007bff;
  color: #fff;
}

.table th {
  font-weight: bold;
}

.machine-list .table tbody tr td button {
  margin-right: 10px;
}
