<div class="container">
  <br>
  <h2>Create User</h2>

  <!-- Error Message -->
  <div *ngIf="hiddenField" class="alert alert-danger">
    An error occurred while creating the user. Please try again.
  </div>

  <form [formGroup]="createUserForm" (ngSubmit)="createUser()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" placeholder="John" [formControlName]="'name'" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="lastname">Lastname:</label>
      <input type="text" id="lastname" placeholder="Doe" [formControlName]="'lastname'" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" placeholder="johndoe@gmail.com" [formControlName]="'email'"class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" [formControlName]="'password'" class="form-control" required>
    </div>
    <br>
    <br>
    <h5>User permissions:</h5>
    <br>
    <div *ngFor="let permission of permissionFields" class="form-group">
      <label for="{{ permission.key }}">{{ permission.label }}:</label>
      <input type="checkbox" [id]="permission.key" [formControlName]="permission.key">
    </div>
    <br>
    <button [disabled]="!createUserForm.valid" type="submit" class="btn btn-primary">Create User</button>
  </form>
</div>
